@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@0,400;0,500;0,600;0,800;1,700&display=swap");

body {
  background-image: url("../assets/auth-back.png");
  size: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  z-index: 0;
  font-family: "Source Sans Pro", sans-serif;
}

.main {
  height: 100vh;
  z-index: 20;
}

.reg {
  padding: 8%;
  padding-top: 40px;
}

.form-cont {
  width: 80%;
  z-index: 20;
  background-color: white;
}

.appbook{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: url("../assets/auth-back.png");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
    -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.image-part {
  background-image: url("../assets/ill_1.jpg");
  background-size: cover;
}

.btn-submit {
  background-color: #4e74e9;
  width: 100%;
  color: white;
}

.login-title {
  margin-top: 75px;
  font-size: 42pt;
  font-weight: 600;
  /* border: #4e74e9 5px solid; */
  /* box-shadow: inset 0 0 20px #59aff5;
  background-color: azure;
  border-radius: 20px;
  color:#434344 */
  border-bottom-style: solid;
}

.des {
  color: rgba(0, 0, 0, 0.5);
}

.form-part {
  padding: 13%;
  padding-top: 40px;
}

img {
  width: 150px;
  height: 26.88px;
}

form {
  margin-top: 50px;
}

.col-12,
.col-lg-12,
.col-lg-6 {
  margin-top: 10px;
}

@media only screen and (max-width: 1200px) {
  body {
    background-image: none;
    background-color: #4e74e9;
  }
  .image-part {
    display: none;
  }
  .form-part {
    padding: 20%;
    padding-top: 40px;
  }
}

/* Back to Home logo */

.btn1 {
  position: fixed;
  background-color: rgba(44, 105, 219, 0.8);
  border: none;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  z-index: 1000;
  box-shadow: -3px 3px 2px 2px rgba(11, 12, 20, 0.2);
}
