/* ===================================== Import Less ================================== */
@font-face {
  font-family: "mouse-300";
  src: url("../fonts/PT_Sans-Web-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "mouse-500";
  src: url("../fonts/PT_Sans-Web-Bold.ttf") format("truetype");
}
/* ===================================== Basic CSS ================================== */
html {
  scroll-behavior: smooth;
}
/* ================dark mode toggle========== */
.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #4e74e9;
  margin-left: 10px;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
  position: relative;
  height: 10px;
  width: 25px;
  transform: scale(1.5);
}
@media screen and (max-width: 765px) {
  .label {
    margin-top: 20px;
    margin-left: 20px;
  }
}

.label .ball {
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 1px;
  height: 10px;
  width: 10px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(12px);
}

.fa-moon {
  font-size: 8px;
  color: rgb(189, 189, 189);
}

.fa-sun {
  font-size: 8px;
  color: yellow;
}
.dark p {
  color: rgb(145, 145, 145);
}
.darkh2,
h3,
h4,
h5 {
  color: rgb(221, 221, 221);
}

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  outline: none;
  color: #444;
}

a:hover {
  color: #444;
}

ul {
  margin-bottom: 0;
  padding-left: 0;
}

a:hover,
a:focus,
input,
textarea {
  text-decoration: none;
  outline: none;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.cp {
  cursor: pointer;
}

html,
body {
  height: 100%;
}

p {
  margin-bottom: 0px;
  width: 100%;
}

.no-padding {
  padding: 0px;
}

.no-margin {
  margin: 0px;
}

.hid {
  display: none;
}

.top-mar {
  margin-top: 15px;
}

.h-100 {
  height: 100%;
}

::placeholder {
  color: #747f8a !important;
  font-size: 13px;
  opacity: 0.5 !important;
}

.container-fluid {
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "mouse-500", Arial, Helvetica, sans-serif;
}

strong {
  font-family: "mouse-500", Arial, Helvetica, sans-serif;
}

body {
  background-color: #f7f7ff !important;
  font-family: "mouse-300", Arial, Helvetica, sans-serif;
  color: #6a6a6a;
}

.session-title {
  padding: 30px;
  margin: 0px;
}
.session-title h2 {
  width: 100%;
  text-align: center;
}
.session-title p {
  max-width: 850px;
  text-align: center;
  float: none;
  margin: auto;
}
.session-title span {
  float: right;
  font-style: italic;
}

.inner-title {
  padding: 20px;
  padding-left: 0px;
  margin-bottom: 30px;
}
.inner-title h2 {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-family: "slab", Arial, Helvetica, sans-serif;
}
.inner-title p {
  width: 100%;
  text-align: center;
}

.page-nav {
  padding: 40px;
  text-align: center;
  padding-top: 160px;
}
.page-nav ul {
  float: none;
  margin: auto;
}
.page-nav h2 {
  font-size: 36px;
  width: 100%;
  color: #444;
}
@media screen and (max-width: 600px) {
  .page-nav h2 {
    font-size: 26px;
  }
}
.page-nav ul li {
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 16px;
}
.page-nav ul li i {
  width: 30px;
  text-align: center;
  color: #444;
}
.page-nav ul li a {
  color: #444;
}

.btn-success {
  font-weight: 600;
  background-color: #4e74e9;
  border-color: #4e74e9;
}
#btxt {
  color: rgb(255, 255, 255);
}
.btn-success:hover {
  background-color: rgb(38, 75, 184) !important;
  border-color: #4e74e9 !important;
}
.btn-success:active {
  background-color: #4e74e9 !important;
  border-color: #4e74e9 !important;
}
.btn-success:focus {
  background-color: #4e74e9 !important;
  border-color: #4e74e9 !important;
  box-shadow: none !important;
}

.btn-info {
  background-color: #4e74e9;
  border-color: #4e74e9;
}
.btn-info:hover {
  background-color: #4e74e9 !important;
  border-color: #4e74e9 !important;
}
.btn-info:active {
  background-color: #4e74e9 !important;
  border-color: #4e74e9 !important;
}
.btn-info:focus {
  background-color: #4e74e9 !important;
  border-color: #4e74e9 !important;
  box-shadow: none !important;
}

.btn {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
}

.form-control:focus {
  box-shadow: none !important;
  border: 2px solid #4e74e9;
}

.btn-light {
  background-color: #fff;
  color: #3f3f3f;
}

@media screen and (max-width: 1199px) {
  .container {
    max-width: 100%;
  }
}
.collapse.show {
  display: block !important;
}

.form-control:focus {
  box-shadow: none;
  border: 2px solid #0d7a40 !important;
}

.form-control {
  background-color: #f8f8f8;
  margin-bottom: 20px;
}
.form-control:focus {
  background-color: #fff;
  border-color: #ccc;
}

/* ===================================== Header CSS ================================== */
header {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  position: relative;
  width: 100%;
  z-index: 999;
}
header .header-nav {
  background-color: #fff;
  width: 100%;
}
/* ====================dark mode header=====================*/
.header.dark .header-nav {
  background-color: rgb(8, 8, 8);
}
.header.dark a {
  color: rgb(221, 221, 221);
}

.header.dark .btn {
  background-color: rgb(0, 0, 148);
}
/* ====================dark mode header end =====================*/
header .header-nav .nav-item ul li {
  float: left;
  font-family: "mouse-500", Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 28px;
}
@media screen and (max-width: 998px) {
  header .header-nav .nav-item ul li {
    padding: 30px 18px;
  }
  .label {
    margin-left: 20px;
  }
}
@media screen and (max-width: 767px) {
  header .header-nav .nav-item ul li {
    float: none;
    padding: 14px;
    border-top: 1px solid #ccc;
  }
}
header .header-nav .nav-img img {
  width: 200px;
  padding: 0px;
  margin-top: 21px;
}
@media screen and (max-width: 767px) {
  header .header-nav .nav-img img {
    margin-top: 0px;
    padding: 10px;
  }
}
@media screen and (max-width: 1199px) {
  header .header-nav .nav-img img {
    margin-left: 10px;
  }
  .label {
    margin-left: 20px;
  }
}
header .header-nav .appoint {
  padding-top: 21px;
}
header .scroll-to-fixed-fixed {
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.small-menu {
  float: right;
  color: #4e74e9;
  font-size: 32px;
  margin-top: 17px;
  margin-right: 12px;
}
@media screen and (max-width: 767px) {
  .small-menu {
    margin-top: 11px;
  }
}

/* ===================================== Slide Style CSS ================================== */
.slider-detail {
  padding-top: 0px;
}
.slider-detail .carousel-cover {
  background-color: rgba(45, 74, 163, 0.8);
  position: absolute;
  left: 0px;
  width: 40%;
  top: 50px;
  height: 100%;
  background-color: rgba(78, 116, 233, 0.8);
  position: absolute;
  left: -30%;
  width: 80%;
  top: -150px;
  height: 140%;
  transform: rotate(15deg);
}
/* slider dark mode */
.slider-detail .carousel-cover.dark {
  background-color: rgba(1, 1, 97, 0.8);
}
@media screen and (max-width: 1086px) {
  .slider-detail .carousel-cover {
    top: -131px;
    left: -24%;
    transform: rotate(12deg);
  }
}
@media screen and (max-width: 999px) {
  .slider-detail .carousel-cover {
    transform: rotate(7deg);
    top: -100px;
  }
}
@media screen and (max-width: 767px) {
  .slider-detail .carousel-cover {
    display: none;
  }
}
.slider-detail .carousel-caption {
  text-align: left;
  top: 70px;
  left: 10%;
  max-width: 40%;
}
.slider-detail .carousel-caption h5 {
  font-size: 40px;
}
.slider-detail .carousel-caption p {
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.slider-detail .carousel-caption .vbh {
  margin: 0px;
}
@media screen and (max-width: 1090px) {
  .slider-detail .carousel-caption {
    top: 30px;
  }
  .slider-detail .carousel-caption h5 {
    font-size: 28px;
  }
  .slider-detail .carousel-caption p {
    font-size: 14px;
  }
}
@media screen and (max-width: 792px) {
  .slider-detail .carousel-caption p {
    margin-bottom: 10px;
  }
}
.slider-detail .carousel-indicators {
  left: -70%;
}
.slider-detail .btn-default {
  background-color: #fff;
  color: #444;
  font-weight: 600;
}

.btn-default:hover {
  background-color: rgb(219, 221, 226);
}
@media screen and (max-width: 792px) {
  .slider-detail .btn-default {
    padding: 5px;
    font-size: 13px;
  }
}

/* ===================================== Key Features CSS ================================== */
.key-features .kvxol {
  padding: 0px;
}
.key-features .single-key {
  background-color: #fff;
  margin-bottom: 30px;
  text-align: center;
  padding: 30px;
}
/* =========features dark mode======== */
.key-features.dark {
  background-color: black;
}
.key-features.dark h5,
h2 {
  color: rgb(221, 221, 221);
}
.key-features.dark p {
  color: rgb(145, 145, 145);
}
.key-features.dark .single-key {
  background-color: rgb(0, 0, 0);
}
.key-features.dark .single-key i {
  background-color: rgb(0, 0, 0);
}
/* =========features dark mode======== */
.key-features .single-key i {
  background-color: #fff;
  padding: 20px;
  font-size: 42px;
  color: #4e74e9;
  margin-bottom: 30px;
  border-radius: 50px;
}
.key-features .single-key p {
  font-family: "mouse-300", Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.key-features .ky-1 {
  background-color: #03509e;
  color: #fff;
  margin-bottom: 0px;
}
.key-features .ky-2 {
  background-color: #0085bc;
  color: #fff;
  margin-bottom: 0px;
}

.department {
  padding: 80px 50px;
  background-color: #fff;
}
@media screen and (max-width: 940px) {
  .department {
    padding: 50px 10px;
  }
}

/* ===================================== Our Blog CSS ================================== */
.our-blog {
  padding: 80px 50px;
  background-color: #fafafa;
  padding-bottom: 100px;
}
@media screen and (max-width: 940px) {
  .our-blog {
    padding: 50px 10px;
  }
}
@media screen and (max-width: 600px) {
  .our-blog {
    padding: 20px 10px;
  }
  .our-blog .blog-cont {
    padding: 0px;
  }
  .our-blog .blog-smk {
    padding: 0px;
  }
}
.our-blog .blog-cont {
  float: none;
  margin: auto;
}
.our-blog .blog-single {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}
.our-blog .blog-single .figure {
  margin-bottom: 0px;
}
.our-blog .blog-single-det {
  margin: auto;
  padding: 20px;
  z-index: 99;
  box-shadow: 0 2px 6px 0 rgba(218, 218, 253, 0.65),
    0 2px 6px 0 rgba(206, 206, 238, 0.54);
  width: 90%;
  position: relative;
  margin-top: -80px;
  background-color: #fff;
}
.our-blog .blog-single-det .btn {
  margin-top: 10px;
  margin-bottom: 10px;
}
.our-blog .blog-single-det span {
  font-size: 13px;
  color: #b5316a;
}
.our-blog .blog-single-det h6 {
  font-size: 1.3rem;
}
.our-blog .blog-single-det p {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 1rem;
}

/* ===================================== Contact US CSS ================================== */
.contact-rooo {
  padding: 80px 50px;
  background-color: #fff;
}
@media screen and (max-width: 940px) {
  .contact-rooo {
    padding: 50px 10px;
  }
}

.contact-us-single {
  background-color: #fff;
}
.contact-us-single .cop-ck {
  padding: 10px 30px;
}
.contact-us-single .cop-ck h2 {
  font-size: 22px;
  margin-bottom: 20px;
}
.contact-us-single .cf-ro {
  margin-top: 10px;
}
.contact-us-single.dark {
  background-color: black;
}
.contact-us-single.dark .cop-ck {
  background-color: rgb(31, 31, 31);
}
.contact-us-single.dark .cop-ck {
  color: rgb(221, 221, 221);
}

/*====================================== About Us Style ====================================*/
.about-us .image-bg {
  background-image: url(../images/why.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.about-us .abut-yoiu {
  padding: 50px;
  background-color: #fff;
}
.about-us.dark .abut-yoiu,
.image-bg {
  background-color: black;
}
.about-us.dark .abut-yoiu h3 {
  color: rgb(221, 221, 221);
}
.about-us.dark .abut-yoiu p {
  color: rgb(145, 145, 145);
}
/* ===================================== Gallery Style  ================================== */
.gallery-filter {
  width: 100%;
  text-align: center;
}
.gallery-filter .btn {
  background-color: #fff;
}

.gallery {
  padding: 80px 50px;
  background-color: #fafafa;
}
@media screen and (max-width: 940px) {
  .gallery {
    padding: 50px 10px;
  }
}

.gallery-title {
  font-size: 36px;
  color: #4e74e9;
  text-align: center;
  font-weight: 500;
  margin-bottom: 70px;
}

.gallery-title:after {
  content: "";
  position: absolute;
  width: 7.5%;
  left: 46.5%;
  height: 45px;
  border-bottom: 1px solid #4e74e9;
}

.filter-button {
  font-size: 18px;
  border: 1px solid #4e74e9;
  border-radius: 5px;
  text-align: center;
  color: #4e74e9;
  margin-bottom: 30px;
}

.filter-button:hover {
  font-size: 18px;
  border: 1px solid #4e74e9;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  background-color: #4e74e9;
}

.btn-default:active .filter-button:active {
  background-color: #4e74e9;
  color: white;
}

.port-image {
  width: 100%;
}

.gallery_product {
  margin-bottom: 30px;
}
/* dark mode */
.gallery.dark {
  background-color: black;
}
.gallery.dark .btn {
  background-color: black;
}
.gallery.dark h2 {
  color: rgb(221, 221, 221);
}
/* ===================================== Fooer CSS ================================== */
.footer {
  padding: 15px 50px;
  background-color: #444;
  color: #fff;
}
.abtus {
  max-width: 12%;
}
@media screen and (max-width: 768px) {
  .abtus {
    max-width: 100%;
  }
}
@media screen and (max-width: 940px) {
  .footer {
    padding: 50px 10px;
  }
}
.footer h2 {
  font-size: 26px;
  margin-top: 10px;
}
.footer p {
  text-align: justify;
  text-indent: 20px;
}
.footer .link-list li {
  padding: 10px;
  border-bottom: 1px solid #6c6c6c;
}
.footer .link-list li a {
  color: #fff;
}
.footer .link-list li i {
  float: right;
}
.footer .map-img {
  font-weight: 600;
  font-size: 17px;
  padding-left: 20px;
}
.footer address a {
  color: #fff;
}
.spacer {
  width: 100%;
}
.copy {
  padding: 20px;
  background-color: #4e74e9;
  color: #fff;
}
.copy a {
  color: #fff;
}
.copy span {
  float: right;
}
.copy span i {
  margin-right: 20px;
}

.kf-2 {
  background-color: #fcfcfc;
  padding: 80px 50px;
}
@media screen and (max-width: 940px) {
  .kf-2 {
    padding: 50px 10px;
  }
}
.kf-2 .single-key {
  box-shadow: 0 2px 3px 0 rgba(218, 218, 253, 0.35),
    0 0px 3px 0 rgba(206, 206, 238, 0.35);
}

/*# sourceMappingURL=style.css.map */

.logo {
  box-shadow: 3px 3px 2px 2px rgba(39, 39, 39, 0.349);
}
.footer.dark {
  background-color: rgb(15, 15, 15);
}
