.part {
  display: flex;
}

.side-nav{
    width: 15%;
    height: 100vh;
    box-shadow: 4px 0px 16px rgba(16, 30, 115, 0.08);
}

.form-style{
    padding-top: 10px;
    height: 200px;
    font-size: x-large;
}

.box-body{
    width: 85%;
    background-color: #E5E5E5;
    padding-left: 4rem;
}

.nav-bar{
    padding: 0px 10px 0px 10px;  
}

.main-cont{
    margin-top: 4rem;
}


.form-style{
    background-color: #ffffff;
    width: 80%;
    margin-top: 40px;
    text-align: center;
}

h1,h2,h3,h4,h5,h6{
    color: #25282B;
}

.nav-element{
    align-items: baseline !important;
}

a{
    color: black;
}

a:hover{
    color:#336CFB;
}
